* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #a50044; /* Couleur principale du Barça */
    color: #fff;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: #004d98; /* Couleur secondaire du Barça */
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 4em;
    color: #fcb913; /* Couleur dorée pour mettre en valeur le titre */
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.6;
}

.images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.img-fcbarca {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 04px 6px rgba(0, 0, 0, 0.2);
}

.quote {
    background-color: #fcb913;
    color: #004d98;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fcb913; /* Couleur dorée pour le bouton */
    color: #004d98;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 01s;
}

.btn:hover {
    background-color: #ffde80;
    color: #a50044;
}
